@model Seekerz.Models.TaskToDo

@{
    ViewData["Title"] = "Details";
}

<h2>Task Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Task
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewTask)
        </dd>


        @if (Model.IsCompleted == true)
        {
            <dd>
                Good Job!  You have finished this task!
            </dd>
        }
        else
        {
            <dd>
                You still need to work on this task! You can do it!
            </dd>
        }
        <dt>
           Your Goal Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>

        
        <dt>
            Position
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskToDoId" class="btn btn-warning btn-sm">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.TaskToDoId" class="btn btn-danger btn-sm">Delete</a> |
    <a asp-action="Index" class="btn btn-info">To Task List</a>
</div>
