@model IEnumerable<Seekerz.Models.TaskToDo>

@{
    ViewData["Title"] = "Index";
}

<h2>Tasks To Be Completed</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tasks    
            </th>
            <th>
                Date To Be Completed By
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a  asp-action="Details" asp-route-id="@item.TaskToDoId">@Html.DisplayFor(modelItem => item.NewTask)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Position)
            </td>*@
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.TaskToDoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskToDoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskToDoId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
