@model Seekerz.Models.QA

@{
    ViewData["Title"] = "Details";
}

<h3 class="Mono">Question Details</h3>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Question
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt>
           Answer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt>
            Notes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            User
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QAId" class="btn btn-info Editbutton"><i class="far fa-edit"></i></a> |
    <a asp-action="Delete" asp-route-id="@Model.QAId" class="btn btn-info DeleteButton"><i class="fas fa-trash"></i></a> |
    <a asp-action="Index" class="btn btn-info BackButton"><i class="fas fa-chevron-left"></i></a>
</div>
