@model Seekerz.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2 class="Mono">Company Details</h2>

<div>
    @*<h4>Company</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Company Name:
            
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Location: 
           
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            Website:
        </dt>
        <dd>
            
            <a href="@Html.DisplayFor(model => model.URL)" target="_blank">@Html.DisplayFor(model => model.URL)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId" class="btn btn-warning btn-sm Editbutton"><i class="far fa-edit"></i></a> |
    @*<a asp-action="Delete" asp-route-id="@Model.CompanyId">Delete</a>*@ 
    <a asp-action="Index" class="btn btn-info BackButton">Back to List</a>
</div>
