@model Seekerz.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h2> Job Details</h2>


    
    <hr />
    
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <dt>
                        Position
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Position)
                    </dd>
                    <dt>
                        Personal Notes
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PersonalNotes)
                    </dd>
                    <dt>
                        Have you told NSS?
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ToldNss)
                    </dd>
                    <dt>
                        Company
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Company.Name)
                    </dd>

                </div>
                <div class="flip-card-back">
                    <dt>Tasks</dt>
                    <dd>
                        <ul>
                            @foreach (var task in Model.UserTasks)
                            {
                                if (task.IsCompleted == false)
                                {
                                    <ul><a asp-controller="TaskToDoes" asp-action="Details" asp-route-id="@task.TaskToDoId">@Html.DisplayFor(modelItem => task.NewTask)</a></ul>
                                }
                            }

                        </ul>
                    </dd>

                        <dt>Finished Tasks</dt>
                        <dd>
                            <ul>
                                @foreach (var task in Model.UserTasks)
                                {
                                    if (task.IsCompleted == true)
                                    {
                                        <ul><a asp-controller="TaskToDoes" asp-action="Details" asp-route-id="@task.TaskToDoId">@Html.DisplayFor(modelItem => task.NewTask)</a></ul>
                                    }
                                }
                            </ul>
                        </dd>
                    </div>
                </div>
            </div>
            <br />
            <br />
   


<div>
    <a asp-action="Edit" asp-route-id="@Model.JobId" class="btn btn-warning btn-sm">Edit</a> |
    <a asp-controller="TaskToDoes" asp-action="Create" asp-route-id="@Model.JobId" class="btn btn-success btn-sm">Add a Task</a> |
    <a asp-action="Delete" asp-route-id="@Model.JobId" class="btn btn-danger btn-sm">Delete Job</a> |
    <a asp-action="Index">Back to List</a>
</div>
