
@model Seekerz.Models.Job

@{
    ViewData["Title"] = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=B612+Mono" rel="stylesheet">

<div class="background JobDetailsOuter">
    <div class="JobDetails">

        <h3 class="Mono"> @Html.DisplayFor(model => model.Position) Details</h3>
        <hr />

        <div class="flip-card">
            <div class="flip-card-inner" id="flipbutton">

                <div class="JobsDetailFrontOuter">
                    <div class="flip-card-front JobDetailsFrontInner">

                        <br />
                        
                        <dl class="dl-horizontal">
                            <div class="form-group">
                                <dt class="Mono positionTitle">
                                    Position
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Position)
                                </dd>
                            </div>
                            <div class="form-group">

                                <dt class="Mono">
                                    Personal Notes
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PersonalNotes)
                                </dd>
                            </div>
                            <div class="form-group">
                                <dt class="Mono">
                                    Status with NSS?
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ToldNss)
                                </dd>
                            </div>
                            <div class="form-group">
                                <dt class="Mono">
                                    Company
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Company.Name)
                                </dd>
                            </div>
                         </d1>
                    </div>
                </div>

                <div class="flip-card-back">
                    <div class="form-group">
                        <dt class="Mono">Tasks</dt>
                    </div>
                    <dd>
                        <div>
                            @foreach (var task in Model.UserTasks)
                            {
                                if (task.IsCompleted == false)
                                {
                                    <a asp-controller="TaskToDoes" asp-action="Details" asp-route-id="@task.TaskToDoId" class="tasklist">@Html.DisplayFor(modelItem => task.NewTask)</a><br />
                                }
                            }
                        </div>
                    </dd>
                    <div class="form-group">
                        <br />
                        <dt class="Mono"> Finished Tasks</dt>
                    </div>
                    <dd>
                        <div>
                            @foreach (var task in Model.UserTasks)
                            {
                                if (task.IsCompleted == true)
                                {
                                    <a asp-controller="TaskToDoes" asp-action="Details" asp-route-id="@task.TaskToDoId" class="tasklist">@Html.DisplayFor(modelItem => task.NewTask)</a><br />
                                }
                            }
                        </div>
                    </dd>
                    <a asp-controller="TaskToDoes" asp-action="Create" asp-route-id="@Model.JobId" class="btn btn-success btn-sm CreateButton TaskAddButton"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="JobDetailButtonsOuter">
            <div class="JobDetailButtonsInner">
                <a asp-action="Edit" asp-route-id="@Model.JobId" class="btn btn-warning btn-sm Editbutton" id="jdedit"><i class="far fa-edit"></i></a> 
                <a asp-action="Delete" asp-route-id="@Model.JobId" class="btn btn-danger btn-sm DeleteButton"><i class="fas fa-trash"></i></a> 
                <a asp-action="Index" class="btn btn-info btn-sm BackButton"><i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
</div>

